!!!
%html
  %head
    %style * {font-family: 'Lucida Grande', Helvetica, sans-serif;padding:10px;margin:0px;text-align:center;} h2 {font-size:300px;}
    %title gps_app
      
  %body= yield
  %body= @path if @debug
